<ion-content>
  <div class="container ion-text-center">
    <h3>Verfication Code</h3>
    <p>Please type the verification code sent to +49 4921 801 850 0</p>
    <ion-row>
      <ion-col>
        <ion-input #inputs type="tel" maxlength="1" (ionInput)="checkInput(1)"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input #inputs type="tel" maxlength="1" (ionInput)="checkInput(2)"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input #inputs type="tel" maxlength="1" (ionInput)="checkInput(3)"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input #inputs type="tel" maxlength="1" (ionInput)="checkInput(4)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button expand="full">Verify</ion-button>
  </div>
</ion-content>
